<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="wrapper">
		<div class="main-block">
			<div class="info-wrapper">
				<div class="info">
					<h1 class="info__header">Ипотека или аренда?</h1>
					<hr class="info__hr">
					<p class="info__description">Проснувшись однажды утром после беспокойного сна, Грегор Замза обнаружил, что он у себя в постели превратился в страшное насекомое.</p>
					<p class="info__description">Лежа на панцирнотвердой спине, он видел, стоило ему приподнять голову, свой коричневый, выпуклый, разделенный дугообразными чешуйками живот, на верхушке которого еле держалось готовое вот-вот окончательно сползти одеяло.</p>
					<div class="info__social">
						<div class="person">
							<img class="person__photo" src="img/photo.jpg"></img>
							<p class="person__name">Георгий Носков</p>
						</div>
					</div>
				</div>		
			</div>
			<form class="form">
				<h2 class="form__header">Давайте посчитаем</h2>
				<hr class="form__hr">
				<div class="form__group"> 
					<div class="form__inline">
						<label class="form__label">Интересует: </label>
						<input type="radio" name="rooms" checked id="oneRoom"/>
						<label class="form__label-radio" for="oneRoom">1-к</label>
						<input type="radio" name="rooms" id="twoRooms"/>
						<label class="form__label-radio" for="twoRooms">2-к</label>
						<input type="radio" name="rooms" id="threeRooms"/>
						<label class="form__label-radio" for="threeRooms">3-к</label>
						<label class="form__label" for="three">квартира</label>
					</div>
				</div>
				<div class="form__group"> 
					<div class="form__inline">
						<label class="form__label">Тип: </label>
						<input type="radio" name="new" checked="true">
						<label class="form__label-radio">Вторичка</label>
						<input type="radio" name="new" checked="true">
						<label class="form__label-radio">Новостройка</label>
					</div>
				</div>
				<div class="form__group">
					<label class="form__label">В городе</label>
					<select class="form__select">
						<option>Москва</option>
						<option>Ростов-на-Дону</option>
						<option>Санкт-Петербург</option>
					</select>
				</div>
				<div class="form__group"> 
					<label class="form__label">Процент ипотеки</label>
					<input type="text" class="form__text" placeholder="10 %">
				</div>
				<div class="form__group"> 
					<label class="form__label">Накоплено</label>
					<input type="text" class="form__text" placeholder="1 000 000 ₽">
				</div>
				<div class="form__group">
					<div class="form__inline">
						<input type="checkbox" name="">
						<label class="form__label-checkbox">Наличие собственного жилья</label>
					</div>
				</div>
				<div class="form__group">
					<div class="form__inline">
						<input type="checkbox" name="">
						<label class="form__label-checkbox">Пепвая покупка жилья</label>
					</div>
				</div>
				<hr class="form__hr">

				<span class="form__button">Посчитать</span>
			</form>
		</div>
		<div class="description-block">
			<h3 class="description-block__header">Кратко обрисуем</h3>
			<div class="description-block__desc">
				<div class="description-block__wrapper">
					<div class="description">
						<h3 class="description-h">Как считаем</h3>
						<p class="description-p">Отталкиваться мы будем от ежемесячного платежа, полученного по <a class="description-a" href="#">аннуитетной</a> системе, т.к. это самый распространенный вид ипотечного кредитования. К сравнению были добавлены <a class="description-a" href="#">диффиренцированная</a> система платежей и, основное, накопление через депозит (вклад средств на счет под проценты) в банке. Под накоплением подразумевается внесение на счет суммы, которая готовилась для ипотеки в виде первого взноса, с ежемесячным внесением средств ранее посчитанного платежа по ипотеке (по аннуитету) минус стоимость съема квартиры. Депозит считается по ежемесячной капитализации, чтобы начисленные проценты и довносимая сумма сразу учитывалась при дальнейшем рассчете процентов.</p>
						<!-- <h3 class="description-h">Основная идея</h3>
						<p class="description-p">Происходит сравнение нескольких вариантов покупок квартиры с учетом всех возможных нюансов, чтобы была возможность сравнить, в какой срок и при каких действиях наиболее быстро/с меньшими затратами можно обзавестись жильем. Рассчет может и не точный до копейки, но я постарался его максимально приблизить.</p> -->
						<h3 class="description-h">Что было учтено (средние значения)</h3>
						<ul class="description-ul">
							<li>Стоимость жилья по выбранному городу;</li>
							<li>Процент ипотеки (Если не был указан в форме выше);</li>
							<li>Ставка вклада (депозита) с ежемесячной капитализацией;</li>
							<li>Стоимость аренды (при отсутствии собственного жилья);</li>
							<li>Смена арендуемой квартиры раз в два года (доп. сумма на агента/взнос);</li>
							<li>Ремонт квартиры (при покупке новостройки);</li>
							<li>Повышение стоиомсти аренды и жилья с течением времени;</li>
							<li>Налоговый вычет 13% (при первой покупке жилья);</li>
							<li>Возможность сдачи квартиры (при наличии собственного жилья и ипотеки);</li>
						</ul>
						<p class="description-p"></p>
						<p class="description-p"></p>
						<h3 class="description-h">Статистика</h3>
						<p class="description-p">Мы собираем средние данные с разных интернет-источников, таких как банки ру (проценты ипотек и вкладов), домофонд (статистика стоимости жилья), ещеодинсайт (динамика изменения стоимости недвижимости, а также инфляция).
					</div>
					<p class="description-block__small">Также вы имеете возможность посмотреть полную таблицу платежей/вкладов за каждый месяц нажав на кнопку "Подробнее"</p>
				</div>
				<div class="common-data">
					<hr class="common-data__hr">
					<p class="common-data__p">Стоимость новой 2-к квартиры в городе Москва: 12 940 485 Р</p>
					<p class="common-data__p">Процент ипотеки: 10%</p>
					<p class="common-data__p">Процент вклада: 8%</p>
					<p class="common-data__p">Аренда квартиры: 15 000 Р</p>
					<p class="common-data__p">Ремонт: 1 040 000 Р</p>
					<p class="common-data__p">Капитализация вклада: Ежемесячная</p>
					<p class="common-data__p">Инфляция: 10%</p>
					<p class="common-data__p">Налоговый вычет: 2 139 123 Р</p>
				</div>
			</div>
		</div>
		<div class="results-block">
			<div class="result">
				<div class="result__top"> 
					<p class="result__top-p">Срок: 5 лет</p>
					<p class="result__top-p">Первый взнос: 1 000 000 Р (15%)</p>
					<p class="result__top-p">Ежемесячный платеж: 75 000 Р</p>
				</div>
				<p class="result__text">Сумма по аннуитету:</p>
				<p class="result__number">1 098 909 Р</p>
				<p class="result__small">Переплата: 1 098 909 Р</p>
				<p class="result__text">С учетом сдачи потрачено:</p>
				<p class="result__number">1 098 909 Р</p>
				<hr class="result__hr">
				<p class="result__text">Сумма по диф-му платежу:</p>
				<p class="result__number">1 098 909 Р</p>
				<p class="result__small">Переплата: 1 098 909 Р</p>
				<p class="result__text">С учетом сдачи потрачено:</p>
				<p class="result__number">1 098 909 Р</p>
				<hr class="result__hr">
				<p class="result__text">На депозите к концу срока:</p>
				<p class="result__number">1 098 909 Р</p>
				<p class="result__small">На жилье накоплено за: 52 месяца</p>
				<p class="result__small">Ежемесячный доход с суммы: 360 454 Р</p>
				<hr class="result__hr">
				<p class="result__button">Подробнее</p>
			</div>
			<div class="result">
				<div class="result__top"> 
					<p class="result__top-p">Срок: 5 лет</p>
					<p class="result__top-p">Первый взнос: 1 000 000 Р (15%)</p>
					<p class="result__top-p">Ежемесячный платеж: 75 000 Р</p>
				</div>
				<p class="result__text">Сумма по аннуитету:</p>
				<p class="result__number">1 098 909 Р</p>
				<p class="result__small">Переплата: 1 098 909 Р</p>
				<p class="result__text">С учетом сдачи потрачено:</p>
				<p class="result__number">1 098 909 Р</p>
				<hr class="result__hr">
				<p class="result__text">Сумма по диф-му платежу:</p>
				<p class="result__number">1 098 909 Р</p>
				<p class="result__small">Переплата: 1 098 909 Р</p>
				<p class="result__text">С учетом сдачи потрачено:</p>
				<p class="result__number">1 098 909 Р</p>
				<hr class="result__hr">
				<p class="result__text">На депозите к концу срока:</p>
				<p class="result__number">1 098 909 Р</p>
				<p class="result__small">На жилье накоплено за: 52 месяца</p>
				<p class="result__small">Ежемесячный доход с суммы: 360 454 Р</p>
				<hr class="result__hr">
				<p class="result__button">Подробнее</p>
			</div>
			<div class="result">
				<div class="result__top"> 
					<p class="result__top-p">Срок: 5 лет</p>
					<p class="result__top-p">Первый взнос: 1 000 000 Р (15%)</p>
					<p class="result__top-p">Ежемесячный платеж: 75 000 Р</p>
				</div>
				<p class="result__text">Сумма по аннуитету:</p>
				<p class="result__number">1 098 909 Р</p>
				<p class="result__small">Переплата: 1 098 909 Р</p>
				<p class="result__text">С учетом сдачи потрачено:</p>
				<p class="result__number">1 098 909 Р</p>
				<hr class="result__hr">
				<p class="result__text">Сумма по диф-му платежу:</p>
				<p class="result__number">1 098 909 Р</p>
				<p class="result__small">Переплата: 1 098 909 Р</p>
				<p class="result__text">С учетом сдачи потрачено:</p>
				<p class="result__number">1 098 909 Р</p>
				<hr class="result__hr">
				<p class="result__text">На депозите к концу срока:</p>
				<p class="result__number">1 098 909 Р</p>
				<p class="result__small">На жилье накоплено за: 52 месяца</p>
				<p class="result__small">Ежемесячный доход с суммы: 360 454 Р</p>
				<hr class="result__hr">
				<p class="result__button">Подробнее</p>
			</div>
		</div>
		<div class="table-block">
			<div class="table-header">
				<h2 class="table-header__h">Подробные вычисления</h2>
				<p class="table-header__p">Срок: 5 лет</p>
				<p class="table-header__p">Первый взнос: 1 000 000 Р (15%)</p>
			</div>
			<table class="table-result">
				<tr>
					<th>Месяц</th>
					<th>Ан-тет</th>
					<th>Диф-й</th>
					<th>Аренда</th>
					<th>На депозите</th>
					<th>% с депозита</th>
					<th>Довнесение</th>
				</tr>
				<tr>
					<td>2</td>
					<td>781 200 Р</td>
					<td>919 000 Р</td>
					<td>28 000 Р</td>
					<td>1 901 754 Р</td>
					<td>51 063 Р</td>
					<td>10 000 Р</td>
				</tr>
				<tr>
					<td>2</td>
					<td>781 200 Р</td>
					<td>919 000 Р</td>
					<td>28 000 Р</td>
					<td>1 901 754 Р</td>
					<td>51 063 Р</td>
					<td>10 000 Р</td>
				</tr>
				<tr>
					<td>2</td>
					<td>781 200 Р</td>
					<td>919 000 Р</td>
					<td>28 000 Р</td>
					<td>1 901 754 Р</td>
					<td>51 063 Р</td>
					<td>10 000 Р</td>
				</tr>
				<tr>
					<td>2</td>
					<td>781 200 Р</td>
					<td>919 000 Р</td>
					<td>28 000 Р</td>
					<td>1 901 754 Р</td>
					<td>51 063 Р</td>
					<td>10 000 Р</td>
				</tr>
				<tr>
					<td>2</td>
					<td>781 200 Р</td>
					<td>919 000 Р</td>
					<td>28 000 Р</td>
					<td>1 901 754 Р</td>
					<td>51 063 Р</td>
					<td>10 000 Р</td>
				</tr>
				<tr>
					<td>2</td>
					<td>781 200 Р</td>
					<td>919 000 Р</td>
					<td>28 000 Р</td>
					<td>1 901 754 Р</td>
					<td>51 063 Р</td>
					<td>10 000 Р</td>
				</tr>
				<tr>
					<td>2</td>
					<td>781 200 Р</td>
					<td>919 000 Р</td>
					<td>28 000 Р</td>
					<td>1 901 754 Р</td>
					<td>51 063 Р</td>
					<td>10 000 Р</td>
				</tr>
				<tr>
					<td>2</td>
					<td>781 200 Р</td>
					<td>919 000 Р</td>
					<td>28 000 Р</td>
					<td>1 901 754 Р</td>
					<td>51 063 Р</td>
					<td>10 000 Р</td>
				</tr>
				<tr>
					<td>2</td>
					<td>781 200 Р</td>
					<td>919 000 Р</td>
					<td>28 000 Р</td>
					<td>1 901 754 Р</td>
					<td>51 063 Р</td>
					<td>10 000 Р</td>
				</tr>
				<tr>
					<td>2</td>
					<td>781 200 Р</td>
					<td>919 000 Р</td>
					<td>28 000 Р</td>
					<td>1 901 754 Р</td>
					<td>51 063 Р</td>
					<td>10 000 Р</td>
				</tr>
				<tr>
					<td>2</td>
					<td>781 200 Р</td>
					<td>919 000 Р</td>
					<td>28 000 Р</td>
					<td>1 901 754 Р</td>
					<td>51 063 Р</td>
					<td>10 000 Р</td>
				</tr>
				<tr>
					<td>2</td>
					<td>781 200 Р</td>
					<td>919 000 Р</td>
					<td>28 000 Р</td>
					<td>1 901 754 Р</td>
					<td>51 063 Р</td>
					<td>10 000 Р</td>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>