@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	background: linear-gradient(90deg, #fdfbfb, #ebedee);
	min-height: 100%;
	font-family: 'Comfortaa', cursive;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
}


/*

	Main Block style

*/

.main-block {
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(360px,1fr));

	margin-top: 5rem;

	
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,.2);
	border-radius: 10px;
}

.info-wrapper {
	position: relative;

	width: 100%;
	height: 100%;
	padding: 3rem;
	box-sizing: border-box;
	border-radius: 10px 0 0 10px;
	
	background-image: url('img/info.jpg');
	background-size: cover;
	background-color: #222;
	color: #fff;
}
.info-wrapper::after {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;

	display: block;
	width: 100%;
	height: 100%;
	border-radius: 10px 0 0 10px;

	background: #222;
	opacity: .8;
	z-index: 9;

}
.info {
	position: relative;
	z-index: 10;
	top: 50%;
	transform: translateY(-50%);
}
	.info__header {
		font-size: 2.5rem;
	}

	.info__hr {
		/*border: 0;*/
		height: 0;
		width: 80px;
		margin: 20px 0;
		border-top: 1px solid #fff;
	}

	.info__description {
		margin-bottom: 15px;
		line-height: 135%;
		font-size: 1rem;
	}

	.info-social {

	}

.person {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin: 10px 0;
}

	.person__photo {
		display: block;
		max-height: 40px;
		max-width: 40px;
		border-radius: 50%;
	}
	.person__name {
		display: block;
		font-size: 1.2rem;
		margin-left: 10px;
	}

.form {
	position: relative;

	width: 100%;
	height: 100%;

	padding: 35px;
	box-sizing: border-box;
	border-radius: 0 10px 10px 0;

	background: #fff;
}

	.form__header {
		color: #333;
	}

	.form__hr {
		margin: 20px 0 30px;
		height: 0;
		border: 0;
		border-top: 1px solid #ccc;
	}

	.form__group {
		display: flex;
		flex-direction: column;
		margin-bottom: 20px;
	}

	.form__inline {
	}
		.form__label {
			margin: 0 5px 5px 0;
		}

		.form__button {
			display: block;
			margin: 0 auto;
			padding: 10px 20px;
			border-radius: 50px;
			box-shadow: 0px 0px 10px 5px rgba(0,209,131,.4);

			background-color: #00D183;
			color: #fff;

			text-align: center;
			font-size: 1.5rem;
			cursor: pointer;
			transition: .3s ease;
		}
		.form__button:hover {
			box-shadow: none;
			transition: .3 ease;
		}
		.form__label-radio {
			margin-right: 5px;
		}

input[type=text] {
	padding: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;

	background: none;
	transition: .3s ease;

	font-size: 1rem;
}
input[type=text]:focus {
	border: 1px solid #373C30;
	outline:none;
	transition: .3s ease;
}

select {
	padding: 5px;
	padding-right: 15px;
	border: none;
	border: 1px solid #ccc;
	border-radius: 5px;

	background: none;
	transition: .3s ease;

	font-family: 'Comfortaa', cursive;
	font-size: 1rem;	
}
select:focus {
	outline:none;
}

/*

	Result 

*/
.results-block {

}

	.results {
		position: relative;
		margin-top: 2rem;

		box-shadow: 0px 0px 15px 5px rgba(0,0,0,.2);
		border-radius: 10px;

		background-image: url('img/info.jpg');
	}
	.results::after {
		content: " ";
		position: absolute;
		z-index: 9;
		left: 0;
		top: 0;

		display: block;
		width: 100%;
		height: 100%;
		border-radius: 15px 15px 10px 10px;

		background: #fff;
		opacity: .9;
	}

	.results__header {
		position: relative;
		z-index: 11;
		display: block;
		padding: 20px;
		border-radius: 10px 10px 0 0;

		background-color: #00D183;
		color: #fff;
	}
	.results__desc {
		position: relative;
		z-index: 11;
		display: flex;
	}
	.results__wrapper {
		position: relative;
		z-index: 11;
		flex: 3;
	}
		.description {
			padding: 15px;

			columns: 2 200px; 
			column-gap: 30px;
		}
		.description-h {
			color: 222;
			padding: 10px 0;
		}
		.description-ul,
		.description-p {
			margin-bottom: 10px;
			
			color: #222;

			line-height: 145%;
		}
		.description-a {
			color: #00D183;
		}
		.description-a:hover {
			text-decoration: underline;
		}
		.description-ul {
			padding-left: 15px;
		}
		.results__info-small {
			padding: 0 15px 10px;

			color: #666;
			font-size: 0.8rem;
			line-height: 145%;
		}
	.results__statistic {
		flex: 1;
		padding: 0 20px 10px;
		background: #00D183;
	}
		.results__statistic-hr {
			border: 0;
			border-top: 1px solid #fff;
			margin-bottom: 20px;
		}
		.results__statistic-p {
			padding-bottom: 10px;
			font-size: 0.9rem;
			color: #fff;
			line-height: 130%;
		}

	.results__list {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;

		margin-top: 25px;
	}

	.result {

		margin: 10px 0;
		width: 280px;

		border-radius: 10px;
		box-shadow: 0px 0px 15px 5px rgba(0,0,0,.2);

		background-color: #fff;
	}

	.result__top {
		/*border-bottom: 1px dashed #888;*/
		padding: 15px 15px 10px;
		border-radius: 10px 10px 0 0;
		margin-bottom: 5px;
		background-color: #00D183;
	}

		.result__top-p {
			margin-bottom: 5px;
			/*color: #777;*/
			color: #fff;
			font-size: 0.8rem;
		}

	.result__text {
		padding: 5px 10px;
		color: #222;
		font-size: 0.9rem;
		line-height: 145%;
	}
	.result__number {
		padding: 5px 10px;
		color: #222
	}
	.result__small {
		text-align: right;
		padding: 5px 10px;
		color: #666;
		font-size: 0.75rem;
	}

	.result__hr {
		height: 0;
		margin: 5px auto;
		border: 0;
		border-top: 1px dashed #ccc;
	}
	.result__button {
		display: block;
		margin: 15px;
		padding: 10px 10px;
		border-radius: 50px;
		box-shadow: 0px 0px 10px 5px rgba(0,209,131,.4);

		background-color: #00D183;
		color: #fff;

		text-align: center;
		font-size: 1.2rem;
		cursor: pointer;
		transition: .3s ease;
	}
	.result__button:hover {
		box-shadow: none;
		transition: .3s ease;
	}


/*
	full table
*/
	.table-block {
		box-shadow: 0px 0px 15px 5px rgba(0,0,0,.2);
		border-radius: 10px;
		background-color: #00D183;
		overflow-x: auto;
	}
	.table-header {
		display: block;
		min-width: calc(100% - 40px);
		padding: 20px;
		border-radius: 10px 10px 0 0;
		color: #fff;
	}
	.table-header__h {
		padding: 5px 0;
		font-size: 1.2rem;
	}
	.table-header__p {
		padding: 5px 0;
		font-size: 0.9rem;
	}
	.table-result {
		padding: 10px;
		width: 100%;
		background: #fff;
		
	}

	.table-result tr {
		text-align: center;
	}
	.table-result th {

		padding: 5px;
		border-radius: 3px;
		color: #fff;
		background-color: #00D183;
	}
	.table-result td {
		padding: 10px 5px;
		border-bottom: 1px dashed #00D183;

	}
/*
	button top	
*/
	.btn-top {
		position: fixed;
		z-index: 50;
		right: 10px;
		bottom: 10px;
		width: 30px;
		height: 30px;
		padding: 10px;
		border: 1px solid #fff;
		border-radius: 50%;
		box-shadow: 0px 0px 10px 5px rgba(0,209,131,.4);
		color: #fff;
		background-color: #00D183;
		text-align: center;
		font-size: 1.9rem;
		transform: rotate(-90deg);
		cursor: pointer;
	}
/*

*/

.green {
	color: #00D183;
}

@media screen and (max-width: 600px) {
	.main-block {
		margin: 0;
	}
	.main-block,
	.info-wrapper,
	.info-wrapper::after,
	.form {
		border-radius: 0%;
	}
	.form {
		border-radius: none;
	}

	.info-wrapper,
	.form {
		padding: 1.5rem;
	}

	.results__desc {
		flex-direction: column-reverse;
	}
	.results__list {
		justify-content: center;
	}


	.table-block {
		border-radius: 0;
	}
	.table-header {
		border-radius: 0;	
	}
	.table-result {
		font-size: 0.8rem;
	}
	.table-result th {
		min-width: 80px;
	}
}