.main-block {
	display: grid;
	grid-template-columns: repeat(auto-fill,minmax(360px,1fr));

	margin-top: 5rem;

	box-shadow: 0px 0px 15px 5px rgba(0,0,0,.2);
	border-radius: 10px;
}

.info-wrapper {
	position: relative;

	width: 100%;
	height: 100%;
	padding: 3rem;
	box-sizing: border-box;
	border-radius: 10px 0 0 10px;
	
	background-image: url('img/info.jpg');
	background-size: cover;
	background-color: #222;
	color: #fff;
}
.info-wrapper::after {
	content: " ";
	position: absolute;
	left: 0;
	top: 0;

	display: block;
	width: 100%;
	height: 100%;
	border-radius: 10px 0 0 10px;

	background: #222;
	opacity: .8;
	z-index: 9;

}
.info {
	position: relative;
	z-index: 10;
	top: 50%;
	transform: translateY(-50%);
}
	.info__header {
		font-size: 2.5rem;
	}

	.info__hr {
		/*border: 0;*/
		height: 0;
		width: 80px;
		margin: 20px 0;
		border-top: 1px solid #fff;
	}

	.info__description {
		margin-bottom: 15px;
		line-height: 135%;
		font-size: 1rem;
	}

	.info-social {

	}

.person {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	margin: 10px 0;
}

	.person__photo {
		display: block;
		max-height: 40px;
		max-width: 40px;
		border-radius: 50%;
	}
	.person__name {
		display: block;
		font-size: 1.2rem;
		margin-left: 10px;
	}
