@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

body {
	background: linear-gradient(90deg, #fdfbfb, #ebedee);
	min-height: 100%;
	font-family: 'Comfortaa', cursive;
}

.wrapper {
	max-width: 960px;
	margin: 0 auto;
}